/* CONTACT PAGE */
#contactPageSection {
    /* Altura relativa ao menu principal */
    padding-top: 14vh;
    height: 70vh;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
}
#contactPageSection h2 {
    font-size: 2rem;
    margin-bottom: 1.5vh;
}
#contactPageSection ul {
    font-size: 2vh;
    margin-bottom: 1.5vh;
}
#contactPageSection div {
    flex: 1;
    text-wrap: wrap;
    /* Direciona a seção de contato e de mapa em duas colunas */
    /* display: inline-block; */
    background-color: #cecece;
    padding: 5vh;
    text-align: center;
}
#contactPageSection ul li {
    /* Retira o estilo das listas */
    list-style: none;
    /* Estilo da fonte das listas */
    font-family: AvantGarde;
}
#mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapBox {
    width: 90%;
    height: 70%;
}