* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #000000;
}

/* Ajustes no CSS para responsividade em mobile */
@media (max-width:768px) {
    /* AJUSTES DA PRIMEIRA SEÇÃO DA HOME */
    #homeSection p {
        font-size: 1.2rem;
    }
    #homeSection > div {
        flex-direction: column;
        gap: 0.5vh;
        align-items: center;
    }
    .homeImage {
        align-items: center;
        width: 100%;
        height: 100%;
    }
    /* FIM DOS AJUSTES DA PRIMEIRA SEÇÃO DA HOME */
    
    /* AJUSTES HOMEPAGE ABOUTUS SECTION */
    .aboutUsText {
        width: 100%;
        margin: 1vh 0;
    }

    /* AJUSTE DA PÁGINA DE MEMBROS */
    /* Ajuste vertical */
    #membersPageSection div {
        display: flex;
        flex-direction: column;
    }

    /* AJUSTES PARA A PÁGINA DE CONTATO */
    /* Redirecionamento vertical do conteúdo */
    #contactPageSection {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        /* Espaços para ajustar responsividade */
        padding: 15vh 0vh 20vh;
    }
    .contactText {
        margin-top: 30vh;
    }
    #contactContainer {
        padding-bottom: 100px;
    }

    /* AJUSTES PARA O TAMANHO DO CARROSSEL */
    .carrosselContainer {
        width: 80%;
    }
    /* FIM DO AJUSTES PARA A PÁGINA DE CONTATO */
    
    /* AJUSTES DO FORMULÁRIO */
    #formContainer {
        width: 85vw;
        font-size: 20px;
    }
    /* FIM DOS AJUSTES DO FORMULÁRIO */
    
    /* AJUSTES DO FOOTER */
    /* Redirecionamento vertical do conteúdo */
    #footerSection {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        /* Aumento de fonte para dispositivos móveis */
        font-size: 15px;
    }
    /* Redimensionamento da imagem de rodapé */
    .imageContainer {
        width: 40%;
    }

}

/* Edição do menu de navegação */
#primaryMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 13vh;
    font-family: CollegiateHeavyOutline;
    font-size: 7vh;
    padding-top: 1vh;
    background-color: #E6E225;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* Edição da lista */
#primaryMenu ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    /* padding: 2vh; */
}

/* Edição das linhas da lista */
#primaryMenu ul li {
    display: inline-block;
    /* margin: 30px; */
    padding-top: 2vh;
}

/* Edição dos links presentes na linha da lista */
#primaryMenu ul li a {
    text-decoration: none;
    font-family: AvantGarde;
    color: #000000;
    padding: 1vh;
    flex-grow: 4;
    display: inline-block;
    transition: 1s;
}

/* Edição dos efeitos no menu */
#primaryMenu ul li a:hover {
    background-color: gray;
    opacity: 0.5;
}



/* HOMEPAGE */
#homeSection {
    /* Altura relativa ao menu principal */
    padding-top: 14vh;

    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-inline: 15vw;
    color: white;
    text-align: center;
}
#homeSectionFirstContent {
    display: flex;
    flex-direction: column;
    padding: 3vh;
}
#homeSectionSecondContent {
    display: flex;
    /* Espaço ao redor do segundo conteúdo */
    height: 100%;
    padding: 3vh;
    gap: 20vw;
}
.homeImage {
    width: 30%;
}
#aboutUsSection {
    display: flex;
    flex-direction: column;

    background-color: lightgray;
    padding-inline: 10vw;
    padding-top: 2vh;

    text-align: center;
    text-decoration: none;
}
#aboutUsSectionContent h2 {
    font-size: 2.0rem;
    margin-bottom: 1vh;
}
#aboutUsSectionContent p {
    margin-bottom: 1vh;
}
#photoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    /* Padding em cima e embaixo com 5vh */
    padding: 5vh 0;
    background-color: gray;
    text-align: center;
    /* position relative faz evitar que as fotos sobrepoem outro elemento */
    position: relative;
    z-index: 1;
}
.containerSlider {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}
.carrosselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.containerImages {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.slider {
    opacity: 0;
    transition: opacity .2s;
    position:absolute;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}
.on {
    opacity: 1;
}
#prevButton, #nextButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prevButton img, #nextButton img {
    width: 100%;
    height: 100%;
}
#prevButton {
    transform: rotate(180deg);
}


#contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Padding em cima e embaixo com 3vh e laterais com 10vw */
    padding: 3vh 10vw;
    background-color: lightgray;
    text-align: center;
}
#contactSection p {
    font-size: 2vh;
    margin-bottom: 1.8vh;
}

/* ESTILIZAÇÃO DO FORMULÁRIO DE CONTATO */
#formContainer {
    background-color: #bbb8b8;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    width: 60vw;
    /* Dimensões envolta do container */
    padding: 2vh;
    border-radius: 20px;
    /* opacity: 0.5; */
}
#formControl {
    opacity: 1;
    display: flex;
    flex-direction: column;
}
#formControl input, #formControl textarea, #formControl button {
    display: block;
    /* Não permite o redimensionamento da textarea */
    resize: none;
    padding: 1.25rem;
    font-weight: 700;
}
#formControl input, #formControl textarea {
    margin-bottom: 1rem;
    /* color: #FFFFFF; */
    background: #dad8d8;
    border: 0.125rem solid transparent;
    border-radius: 1rem;
    transition: border-color 0.3s box-shadow 0.3s;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem;
}
#formControl button {
    border: none;
    border-radius: 99px;
    background: #3d3c3c;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}
button:hover, button:focus {
    outline: none;
    background-color: #000000;
}
.whatsAppContactButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh;
    margin-bottom: 1vh;
    background-color: black;
    color: white;
    border-radius: 99px;
    text-decoration: none;
    font-family: RobotoMedium;
}


/* ABOUT US */
#aboutUsPageSection {
    /* Altura relativa ao menu principal */
    padding-top: 14vh;
    padding-inline: 10VW;
    height: 70vh;
    background-color: #000000;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#missionSection {
    background-color: gray;
    padding-inline: 10vw;

    display: flex;
    flex-direction: column;
    text-align: center;

}

#valuesSection {
    padding-inline: 10vw;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;

}

#cultureSection {
    /* height: 50vh; */
    background-color: #FFFFFF;
    text-align: center;

}

/* HOUSE PAGE  */
#housePageSection {
    /* Altura relativa ao menu principal */
    /* Também padding abaixo da seção, para não sobrepor com o carrossel de imagens */
    padding: 14vh 10vw;
    
    /* height: 100%; */
    background-color: black;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    text-align: center;
}
#housePageSection div {
    margin-bottom: 1.5vh;
}
#housePageSection p {
    margin-bottom: 2vh;
}
.sectionTitle {
    margin-bottom: 2.5vh;
}
.subsectionTitle {
    margin-bottom: 1.5vh;
}
.sectionSubtitle {

}
.subsectionSubtitle {
    
}
#housePageSection>* {
    flex: 1;
}
#housePhotosCarrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    padding: 5vh 0;
    position: relative;
    z-index: 1;
}
#bedroomSection {
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#bedroomSection p {
    margin-bottom: 3vh;
}
#bedroomPhotosCarrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    padding: 5vh 0;
    position: relative;
    z-index: 1;
}
#housePageSection ul li {
    list-style: none;
    font-family: RobotoLight;
    font-size: 1.5rem;
}

#organizationSection {
    background-color: gray;

    display: flex;
    flex-direction: column;
    padding: 0 10vw;

    text-align: center;
}

#dayToDaySection {
    background-color: black;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    padding: 0vh 10vw;

    text-align: center;
}

#financialSection {
    background-color: gray;

    display: flex;
    flex-direction: column;
    padding: 0vh 10vw;

    text-align: center;
}

/* MEMBERS PAGE */
#membersPageSection {
    /* Altura relativa ao menu principal */
    padding-top: 14vh;
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;

    display: grid;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 10px;
    text-align: center;
    text-wrap: wrap;
}
.memberName {
    font-size: 3vh;
}
.memberText {
    font-size: 2vh;
}
#membersPageSection > div {
    flex: 0 0 calc(50% -20px);
    margin-bottom: 20px;
    padding: 10px;
}
#membersPageSection div {
    display: flex;
}
#memberDescriptionSection {
    flex: 1;
    flex-direction: column;
    border: 1px solid #FFFFFF;
    border-radius: 20px;

    text-wrap: wrap;
    align-items: center;
    padding-inline: 5vw;
}
#memberDescriptionSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileImage {
    display: flex;
    height: 30%;
    width: 30%;
    box-sizing: border-box;
    border: #FFFFFF;
    border-radius: 100%;
}


/* CONTACT PAGE */
#contactPageSection {
    /* Altura relativa ao menu principal */
    padding-top: 14vh;
    height: 70vh;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
}
#contactPageSection h2 {
    font-size: 2rem;
    margin-bottom: 1.5vh;
}
#contactPageSection ul {
    font-size: 2vh;
    margin-bottom: 1.5vh;
}
#contactPageSection div {
    flex: 1;
    text-wrap: wrap;
    /* Direciona a seção de contato e de mapa em duas colunas */
    /* display: inline-block; */
    background-color: #cecece;
    padding: 5vh;
    text-align: center;
}
#contactPageSection ul li {
    /* Retira o estilo das listas */
    list-style: none;
    /* Estilo da fonte das listas */
    font-family: AvantGarde;
}
#mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapBox {
    width: 90%;
    height: 70%;
}


/* FOOTER */
/* Estilização do rodapé */
#footerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 30vh;
    color: white;
    font-family: AvantGarde;
    font-size: 1.7vh;
}
#footerSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footerSection>* {
    flex: 1;
}
#footerSection div {
    display: inline-block;
    justify-content: center;
    margin-inline: 3vw;
}
#footerSection div ul {
    display: flex;
    flex-direction: column;
    /* Alinha os itens no centro das três colunas */
    align-items: center;
}
#footerSection div ul li {
    display: flex;
    flex-direction: column;
    /* Espaço entre as linhas da coluna */
    margin: 0.3vh;
    list-style: none;
}
.imageContainer {
    text-align: center;
}
.footerImage {
    width: 40%;
}
.footerLinks {
    height: 5vh;
    width: 5vw;
}



/* Configuração de fontes */
.logoFont {
    font-family: CollegiateHeavyOutline;
}
h1 {
    font-family: RobotoLight;
    font-weight: 900;
    font-size: 5vh;
    margin-bottom: 3vh;
}
h2 {
    font-family: RobotoLight;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2vh;
}
h3 {
    font-family: RobotoLight;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 1.5vh;
}
h4 {
    font-family: RobotoLight;
    font-weight: 700;
    font-size: 1.5rem;
}
p {
    font-family: RobotoLight;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

/* Fontes inseridas */
@font-face {
    font-family: CollegiateHeavyOutline;
    src: url(../fonts/collegiate-heavy-outline-font/collegiate-heavy-outline-medium-.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    /* Normal */
    font-family: AvantGardeBook;
    src: url(../fonts/avantgarde/AvantGardeBookBT.ttf);
}

@font-face {
    font-family: AvantGarde;
    src: url(../fonts/avantgarde/AVGARDN.TTF);
}

@font-face {
    font-family: AvantGardeItalic;
    src: url(../fonts/avantgarde/AVGARDNI.ttf);
}

@font-face {
    /* Negrito */
    font-family: AvantGardeDemi;
    src: url(../fonts/avantgarde/AvantGardeDemiBT.ttf);
}

@font-face {
    /* Negrito e itálico */
    font-family: AvantGardeDemiOblique;
    src: url(../fonts/avantgarde/AvantGardeDemiObliqueBT.ttf);
}