<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont" href="#">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/abous-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/member-page.html">membros</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>

    <section id="aboutUsPageSection">
        <h2>sobre nós</h2>

        Fundada em 2017, pelos estudantes da UNIFEI, do campus Itabira, a Viracopos foi fundada pelos alunos Thulio
    </section>
    <section id="missionSection">
        <h2>nossa missão</h2>
        <p>A missão da república Viracopos é criar um ambiente acolhedor e respeitoso, que promova uma experiência
            enriquecedora na vida acadêmica e no desenvolvimento pessoal e profissional. Nós buscamos oferecer uma
            família extensa e uma rede de amigos para auxiliar todos os residentes na transição para esta nova fase da
            forma mais harmoniosa possível</p>
    </section>
    <section id="valuesSection">
        <h2>nossos valores</h2>
        <p>Os valores fundamentais que cultivamos são baseados em respeito, confiança, comapanheirismo, altruísmo e
            amizade. Entendemos que nossa jornada acadêmica na UNIFEI que dura pelo menos 5 anos, exige o respeito
            qpelas particularidades de cada um de nós. Com X moradores atualmente é essencial manter um ambiente
            harmonioso em nossa casa, promovendo a prevenção de desentendimentos</p>
    </section>
    <section id="cultureSection">
        <h2>nossa cultura</h2>
    </section>

        <!-- Rodapé do site -->
        <footer id="footerStyle">
            <section id="footerSection">
                <div>
                    <ul>
                        <li>início</li>
                        <li>sobre nós</li>
                        <li>a casa</li>
                        <li>membro</li>
                        <li>contato</li>
                        <li>Copyright © 2023</li>
                        <li>República Viracopos</li>
                    </ul>
                </div>
                <div class="imageContainer">
                    <img class="footerImage" src="../../assets/img/viracopos-logo.svg" alt="viracopos">
                </div>
                <div>
                    <ul>
                        <li>Rua Mato Grosso 384</li>
                        <li>Bairro Amazonas</li>
                        <li>Itabira, Minas Gerais</li>
                        <li>UNIFEI</li>
                        <li>Campus Itabira</li>
                        <li>Telefones de contato:</li>
                        <li>Elson (Trivago): 99999-9999</li>
                        <li>Ruan (DJ): 99999-9999</li>
                    </ul>
                </div>
            </section>
            <!-- Seção com links de redes sociais -->
            <section id="socialNetworkLinks">
                <div>
                    <a href="https://www.facebook.com/viracopos017rep/">
                        <img class="footerLinks" src="../../assets/img/icons/facebook-icon.svg">
                    </a>
                    <a href="https://www.instagram.com/viracopos_rep/">
                        <img class="footerLinks" src="../../assets/img/icons/instagram-icon.svg">
                    </a>
                </div>
            </section>
        </footer>
</body>

</html>