<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <!-- Barra de navegação -->
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/abous-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/member-page.html">membros</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>

    <div id="contactContainer">
        
        <section id="contactPageSection">
            <div class="contactText">
                <h2><img src="../../assets/img/icons/phone.svg" height="40px" alt="Phone numbers">Entre em contato conosco</h2>
                <ul>
                    <li>Elson (Trivago): (55) 99999-9999</li>
                    <li>Ruan (DJ): (55) 99999-9999</li>
                </ul>
                <img>
                <h2><img src="../../assets/img/icons/place.svg" height="40px" alt="Local">Localizada próximo de: </h2>
                <ul>
                    <li>Padaria</li>
                    <li>Mercado</li>
                    <li>Farmácia</li>
                    <li>Supermercado</li>
                    <li>Posto de saúde</li>
                    <li>Academia</li>
                    <li>Ponto de ônibus</li>
                    <li>Postos de gasolina</li>
                    <li>Lanchonetes</li>
                    <li>Bares</li>
                    <li>Restaurantes</li>
                    <li>Lanchonetes</li>
                    <li>Lotericas</li>
                    <li>Hortifrutis</li>
                </ul>
            </div>
            <div class="mapContainer">
                <h2><img src="../../assets/img/icons/map.svg" alt="Map" height="40px">Faça uma visita!</h2>
                <!-- Arquivo de mapa incorporado do compartilhamento do Google Maps -->
                <iframe class="mapBox"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.6696866935276!2d-43.23280932911573!3d-19.641414526817833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5a168f43aa023%3A0x987cc29b78333d7!2sRep%C3%BAblica%20Viracopos!5e0!3m2!1spt-BR!2sbr!4v1695154311889!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <ul>
                    <li>Rua Mato Grosso, 384, Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                </ul>
            </div>
    </div>

    </section>

    <!-- Rodapé do site -->
    <footer id="footerStyle">
        <section id="footerSection">
            <div>
                <ul>
                    <li>início</li>
                    <li>sobre nós</li>
                    <li>a casa</li>
                    <li>membro</li>
                    <li>contato</li>
                    <li>Copyright © 2023</li>
                    <li>República Viracopos</li>
                </ul>
            </div>
            <div class="imageContainer">
                <img class="footerImage" src="../../assets/img/viracopos-logo.svg" alt="Viracopos logo">
            </div>
            <div>
                <ul>
                    <li>Rua Mato Grosso 384</li>
                    <li>Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                    <li>UNIFEI</li>
                    <li>Campus Itabira</li>
                    <li>Telefones de contato:</li>
                    <li>Elson (Trivago): 99999-9999</li>
                    <li>Ruan (DJ): 99999-9999</li>
                </ul>
            </div>
        </section>
        <!-- Seção com links de redes sociais -->
        <section id="socialNetworkLinks">
            <div>
                <a href="https://www.facebook.com/viracopos017rep/">
                    <img class="footerLinks" src="../../assets/img/icons/facebook-icon.svg" alt="Facebook link">
                </a>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="../../assets/img/icons/instagram-icon.svg" alt="Instagram link">
                </a>
            </div>
        </section>
    </footer>

</body>

</html>