<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont" href="#">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/abous-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/member-page.html">membros</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>


    <section id="housePageSection">
        <h2>sobre a casa</h2>
        <p>A Viracopos possui 3 andares com
            Seis quartos
            quatro banheiros
            duas salas de estar e uma sala para coworking
            duas cozinhas, sendo uma interna e outra externa
            Garagem
            Quintal extenso
            Área de churrasqueira
            Área de limpeza.
        </p>

        <h2>sobre o quarto</h2>
        <p>Todos os quartos</p>
    </section>


    <section id="organizationSection">
        <h2>organização</h2>
        <h2>limpeza</h2>
        <h2>refeições</h2>
        <h2>compras mensais</h2>
    </section>

    <section id="dayToDaySection">
        <h2>dia a dia</h2>
        <h2>rolês</h2>
        <h2>unifei</h2>
        <h2>periodo de adaptação</h2>
    </section>

    <section id="financialSection">
        <h2>financeiro</h2>
    </section>

    <!-- Rodapé do site -->
    <footer id="footerStyle">
        <section id="footerSection">
            <div>
                <ul>
                    <li>início</li>
                    <li>sobre nós</li>
                    <li>a casa</li>
                    <li>membro</li>
                    <li>contato</li>
                    <li>Copyright © 2023</li>
                    <li>República Viracopos</li>
                </ul>
            </div>
            <div class="imageContainer">
                <img class="footerImage" src="./assets/img/viracopos-logo.svg" alt="viracopos">
            </div>
            <div>
                <ul>
                    <li>Rua Mato Grosso 384</li>
                    <li>Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                    <li>UNIFEI</li>
                    <li>Campus Itabira</li>
                    <li>Telefones de contato:</li>
                    <li>Elson (Trivago): 99999-9999</li>
                    <li>Ruan (DJ): 99999-9999</li>
                </ul>
            </div>
        </section>
        <!-- Seção com links de redes sociais -->
        <section id="socialNetworkLinks">
            <div>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="./assets/img/facebook-icon.svg">
                </a>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="./assets/img/instagram-icon.svg">
                </a>
            </div>
        </section>
    </footer>
</body>

</html>