<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont" href="#">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/abous-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/member-page.html">membros</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>

    <section id="membersPageSection">
        <div>
            <section id="memberDescriptionSection">
                <h2>Thulio (Falamansa)</h2>
                <p>Ano: 2016</p>
                <p>Curso: Engenharia ambiental</p>
            </section>
            <section id="memberDescriptionSection">
                <h2>Gustavo Nassar</h2>
                <p>Ano: 2016</p>
                <p>Curso: Engenharia ambiental</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>Rafão</h2>
                <p>Ano: 2016</p>
                <p>Curso: Engenharia ambiental</p>
            </section>
            <section id="memberDescriptionSection">
                <h2>João Carlos</h2>
                <p>Ano: 2017</p>
                <p>Curso: Engenharia de produção</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>Trivago</h2>
                <p>Ano: 2018</p>
                <p>Curso: Engenharia de produção</p>
            </section>
            <section id="memberDescriptionSection">
                <h2>Vô</h2>
                <p>Ano: 2019</p>
                <p>Curso: Engenharia de computação</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>Caim</h2>
                <p>Ano: 2019</p>
                <p>Curso: Engenharia mecânica</p>
            </section>
            <section id="memberDescriptionSection">
                <h2>Tico</h2>
                <p>Ano: 2019</p>
                <p>Curso: Engenharia de produção</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>DJ</h2>
                <p>Ano: 2021</p>
                <p>Curso: Engenharia de saúde e segurança</p>

            </section>
            <section id="memberDescriptionSection">
                <h2>Unimed</h2>
                <P>Ano: 2021</P>
                <p>Curso: Engenharia elétrica</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>Nagaita</h2>
                <p>Ano: 2023</p>
                <p>Curso: Engenharia de mobilidade</p>
            </section>
            <section id="memberDescriptionSection">
                <h2>Cazé</h2>
                <p>Ano: 2023</p>
                <p>Curso: Engenharia de computação</p>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <h2>Jênio</h2>
                <p>Ano: 2023</p>
                <p>Curso: Engenharia de produção</p>
            </section>
        </div>
    </section>
    <!-- Rodapé do site -->
    <footer id="footerStyle">
        <section id="footerSection">
            <div>
                <ul>
                    <li>início</li>
                    <li>sobre nós</li>
                    <li>a casa</li>
                    <li>membro</li>
                    <li>contato</li>
                    <li>Copyright © 2023</li>
                    <li>República Viracopos</li>
                </ul>
            </div>
            <div class="imageContainer">
                <img class="footerImage" src="./assets/img/viracopos-logo.svg" alt="viracopos">
            </div>
            <div>
                <ul>
                    <li>Rua Mato Grosso 384</li>
                    <li>Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                    <li>UNIFEI</li>
                    <li>Campus Itabira</li>
                    <li>Telefones de contato:</li>
                    <li>Elson (Trivago): 99999-9999</li>
                    <li>Ruan (DJ): 99999-9999</li>
                </ul>
            </div>
        </section>
        <!-- Seção com links de redes sociais -->
        <section id="socialNetworkLinks">
            <div>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="./assets/img/facebook-icon.svg">
                </a>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="./assets/img/instagram-icon.svg">
                </a>
            </div>
        </section>
    </footer>
</body>

</html>