<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">

    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/footer-style.css">
    <link rel="stylesheet" href="../../assets/css/members-page-style.css">

    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/about-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>
    
    <section id="membersPageSection">
        <div id="pageDescription">
            <h2>Nossa Casa 🏡</h2>
            <p>A República Viracopos é mais do que uma simples moradia, é um espaço projetado para oferecer conforto, praticidade e momentos inesquecíveis. 
                Nossa casa conta com uma estrutura completa para que cada morador se sinta à vontade e aproveite ao máximo a vida universitária.
                Se você busca um lugar que equilibra conforto, diversão e amizade, a Viracopos é o seu novo lar! 💙✨</p>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <!-- <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div> -->
                <div>
                    <h2 class="memberName">Quartos</h2>
                    <p class="memberText">Seis quartos</p>
                    <p class="memberText">Mobiliados com cama, armário e escrivaninha</p>
                    <p class="memberText">Quatro banheiros, sendo duas suites</p>

                </div>
            </section>
            <section id="memberDescriptionSection">
                <div>
                    <!-- <img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"> -->
                    <h2 class="memberName">Salas</h2>
                    <p class="memberText">Três salas: sala de jantar, de estar e coworking para estudos</p>
                    <p class="memberText">3 sofás</p>
                    <p class="memberText">TV de 40''</p>
                    <p class="memberText">Serviços de streaming: Netflix, Prime Video, Crunchyroll, HBO Max, Disney+</p>
                    <p class="memberText">Playstation 4 e 5 com serviços de PS Plus</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Cozinhas</h2>
                    <p class="memberText">Duas cozinhas</p>
                    <p class="memberText">Equipada com:</p>
                    <p class="memberText">Eletrodomésticos: dois fogões, duas geladeiras, freezer, microondas, sanduicheira elétrica</p>
                    <p class="memberText">Utensílios: panelas, frigideiras, assadeiras, talheres, pratos</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Area externa</h2>
                    <p class="memberText">Garagem para dois carros</p>
                    <p class="memberText">Área com churrasqueira</p>
                    <p class="memberText">Área para festas</p>
                    <p class="memberText">Lavanderia</p>
                    <p class="memberText">Varanda na sala e terceiro andar</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Elson (Trivago)</h2>
                    <p class="memberText">Ano: 2018</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Pedro (Vô)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia de computação</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Abel (Caim)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia mecânica</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Caio (Tico)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Ruan (DJ)</h2>
                    <p class="memberText">Ano: 2021</p>
                    <p class="memberText">Curso: Engenharia de saúde e segurança</p>
                </div>

            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Hugo (Unimed)</h2>
                    <P class="memberText">Ano: 2021</P>
                    <p class="memberText">Curso: Engenharia elétrica</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">Pedro (Nagaita)</h2>
                    <p class="memberText">Ano: 2023</p>
                    <p class="memberText">Curso: Engenharia de mobilidade</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg" alt="Profile image"></div>
                <div>
                    <h2 class="memberName">João Pedro (Cazé)</h2>
                    <p class="memberText">Ano: 2023</p>
                    <p class="memberText">Curso: Engenharia de computação</p>
                </div>
            </section>
        </div>
        <div id="pageDescription">
            <h2>Compras 🛒</h2>
            <p>Na República Viracopos, buscamos sempre um ambiente justo e organizado para todos os moradores. 
                Por isso, seguimos um sistema de compra coletiva, garantindo que os itens essenciais para a casa nunca faltem.</p>
            <p>
                <p>
                    <ul>
                        <li>🛒 O que está incluído na compra comum?</li>
                        <li>✔ Itens básicos de alimentação (arroz, feijão, temperos)</li>
                        <li>✔ Material de limpeza e higiene (papel higiênico, detergente, etc.)</li>
                        <li>✔ Ração para os nossos cachorros</li>
                        <li>✔ Materiais para manutenção da casa</li>
                    </ul>
                    
                    
                    O valor dessas compras é dividido igualmente entre todos os moradores no final de cada mês.
                    
                    🍽 E os itens individuais?
                    Cada morador é responsável por comprar sua própria mistura (carnes, laticínios, pães, frutas e biscoitos). Para evitar confusão, cada um tem seu espaço na geladeira
                </p>
        </div>
    </section>
    <!-- Rodapé do site -->
    <footer id="footerStyle">
        <section id="footerSection">
            <div>
                <ul>
                    <li>início</li>
                    <li>sobre nós</li>
                    <li>a casa</li>
                    <li>membro</li>
                    <li>contato</li>
                    <li>Copyright © 2023</li>
                    <li>República Viracopos</li>
                </ul>
            </div>
            <div class="imageContainer">
                <img class="footerImage" src="../../assets/img/viracopos-logo.svg" alt="Viracopos logo">
            </div>
            <div>
                <ul>
                    <li>Rua Mato Grosso 384</li>
                    <li>Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                    <li>UNIFEI</li>
                    <li>Campus Itabira</li>
                    <li>Telefones de contato:</li>
                    <li>Elson (Trivago): 99999-9999</li>
                    <li>Ruan (DJ): 99999-9999</li>
                </ul>
            </div>
        </section>
        <!-- Seção com links de redes sociais -->
        <section id="socialNetworkLinks">
            <div>
                <a href="https://www.facebook.com/viracopos017rep/">
                    <img class="footerLinks" src="../../assets/img/icons/facebook-icon.svg" alt="Facebook link">
                </a>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="../../assets/img/icons/instagram-icon.svg" alt="Instagram link">
                </a>
            </div>
        </section>
    </footer>
</body>

</html>