<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UNIFEI, república, universitário">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script defer type="text/javascript" src="../../assets/js/code.js"></script>
    <title>República Viracopos</title>
</head>

<body>
    <nav id="primaryMenu">
        <nav link="nav-brand logoFont" href="#">VIRACOPOS</nav>
        <ul>
            <li> <a href="../../index.html">início</a></li>
            <li> <a href="../pages/abous-us-page.html">sobre nós</a> </li>
            <li> <a href="../pages/house-page.html">a casa</a> </li>
            <li> <a href="../pages/member-page.html">membros</a> </li>
            <li> <a href="../pages/contact-page.html">contato</a> </li>
        </ul>
    </nav>

    <section id="membersPageSection">
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Thulio (Falamansa)</h2>
                    <p class="memberText">Ano: 2016</p>
                    <p class="memberText">Curso: Engenharia ambiental</p>

                </div>
            </section>
            <section id="memberDescriptionSection">
                <div>
                    <img class="profileImage" src="../../assets/img/icons/profile.jpg">
                    <h2 class="memberName">Gustavo Nassar</h2>
                    <p class="memberText">Ano: 2016</p>
                    <p class="memberText">Curso: Engenharia ambiental</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Rafão</h2>
                    <p class="memberText">Ano: 2016</p>
                    <p class="memberText">Curso: Engenharia ambiental</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">João Carlos</h2>
                    <p class="memberText">Ano: 2017</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Elson (Trivago)</h2>
                    <p class="memberText">Ano: 2018</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Pedro (Vô)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia de computação</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Abel (Caim)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia mecânica</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Caio (Tico)</h2>
                    <p class="memberText">Ano: 2019</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Ruan (DJ)</h2>
                    <p class="memberText">Ano: 2021</p>
                    <p class="memberText">Curso: Engenharia de saúde e segurança</p>
                </div>

            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Hugo (Unimed)</h2>
                    <P class="memberText">Ano: 2021</P>
                    <p class="memberText">Curso: Engenharia elétrica</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Pedro (Nagaita)</h2>
                    <p class="memberText">Ano: 2023</p>
                    <p class="memberText">Curso: Engenharia de mobilidade</p>
                </div>
            </section>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">João Pedro (Cazé)</h2>
                    <p class="memberText">Ano: 2023</p>
                    <p class="memberText">Curso: Engenharia de computação</p>
                </div>
            </section>
        </div>
        <div>
            <section id="memberDescriptionSection">
                <div><img class="profileImage" src="../../assets/img/icons/profile.jpg"></div>
                <div>
                    <h2 class="memberName">Luiz (Jênio)</h2>
                    <p class="memberText">Ano: 2023</p>
                    <p class="memberText">Curso: Engenharia de produção</p>
                </div>
            </section>
        </div>
    </section>
    <!-- Rodapé do site -->
    <footer id="footerStyle">
        <section id="footerSection">
            <div>
                <ul>
                    <li>início</li>
                    <li>sobre nós</li>
                    <li>a casa</li>
                    <li>membro</li>
                    <li>contato</li>
                    <li>Copyright © 2023</li>
                    <li>República Viracopos</li>
                </ul>
            </div>
            <div class="imageContainer">
                <img class="footerImage" src="../../assets/img/viracopos-logo.svg" alt="viracopos">
            </div>
            <div>
                <ul>
                    <li>Rua Mato Grosso 384</li>
                    <li>Bairro Amazonas</li>
                    <li>Itabira, Minas Gerais</li>
                    <li>UNIFEI</li>
                    <li>Campus Itabira</li>
                    <li>Telefones de contato:</li>
                    <li>Elson (Trivago): 99999-9999</li>
                    <li>Ruan (DJ): 99999-9999</li>
                </ul>
            </div>
        </section>
        <!-- Seção com links de redes sociais -->
        <section id="socialNetworkLinks">
            <div>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="../../assets/img/facebook-icon.svg">
                </a>
                <a href="https://www.instagram.com/viracopos_rep/">
                    <img class="footerLinks" src="../../assets/img/instagram-icon.svg">
                </a>
            </div>
        </section>
    </footer>
</body>

</html>